#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(211, 208, 208, 0.959);
  color: white;
  text-align: center;
}

.text-red {
  color: rgb(245, 3, 3);
}

.errors {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
